body{padding: 30px;}
.mar{margin: 10px;}
.sq{width:100px;height:100px;background-color: rgb(231, 173, 14);}
h1{text-align: center;}
.right{float: right;}
.left{float: left;}
div{border: 2px solid green;
overflow: auto;}
/*.clr::after{content:"";
    clear: both; 
    display: table;
    overflow: auto;}*/